@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background-color: black;
}

body * {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  color: rgb(150, 7, 7);
  font-family: "Open Sans", sans-serif;
}

.message-box {
  width: 900px;
  max-width: calc(100% - 20px);
  margin: 0 auto 10px;
  height: 1em;
  font-size: 18px;
  color: rgb(150, 7, 7);
}

.message-box.error {
  color: rgb(122, 0, 0);
}

.table {
  width: 900px;
  max-width: calc(100% - 20px);
  border: 8px solid rgb(10, 43, 2);
  border-radius: 20px;
  background: rgb(22, 77, 8);
  margin: 0 auto;
  color: whitesmoke;
  padding: 30px;
}

.player {
  margin: 20px;
}

.player-name {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  margin-right: 100px;
}

.player-points {
  font-style: italic;
  margin-left: 100px;
}

.points {
  font-style: italic;
}

.hand {
  height: 120px;
  background: rgba(10, 43, 2, 0.5);
  border-radius: 5px;
}

.hand img {
  height: 100%;
  width: auto;
  padding: 10px 0 10px 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.bet-menu {
  text-align: center;
  font-size: 18px;
  border: 0;
}
select {
  text-align: center;
  margin: 10px;
  font-size: 18px;
  border: 0;
  padding: 10px 16px;
  border-radius: 10px;
  color: rgb(189, 229, 255);
  background: rgb(0, 98, 163);
}

button {
  margin: 10px;
  font-size: 18px;
  border: 0;
  padding: 10px 16px;
  border-radius: 10px;
  color: rgb(189, 229, 255);
  background: rgb(0, 98, 163);
}

button:hover {
  cursor: pointer;
  background: rgb(35, 133, 199);
  box-shadow: 0px 0px 10px 5px rgba(35, 133, 199, 0.55);
}

button[disabled] {
  color: rgb(160, 160, 160);
  background: rgb(71, 71, 71);
}

button[disabled]:hover {
  cursor: not-allowed;
  background: rgb(71, 71, 71);
  box-shadow: none;
}

button[type="reset"] {
  color: rgb(255, 184, 184);
  background: rgb(133, 8, 8);
}

button[type="reset"]:hover {
  background: rgb(150, 7, 7);
  box-shadow: 0px 0px 10px 5px rgba(150, 7, 7, 0.63);
}

.play-again {
  text-align: center;
}

.lower-zone {
  height: 100px;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 736px) {
  body {
    background-color: blue;
  }
}
