@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: whitesmoke;
  font-family: "Lato", sans-serif;
  background-size: cover;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-box {
  width: 55%;
  color: whitesmoke;
  border-radius: 0px 0px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 10px;
  margin: 5px;
}

.search-container {
  width: 50%;
  background: rgba(95, 95, 95, 0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

label {
  margin-top: 20px;
}

.city {
  font-size: 20px;
}

.temp-value {
  font-size: 40px;
}

.other-value {
  font-size: 20px;
}

.other-name {
  font-size: 20px;
}

.city-name {
  font-size: 20px;
}

.item {
  height: auto;
  width: auto;
  margin: 5px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(95, 95, 95, 0.7);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

input {
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

button {
  height: 40px;
  width: 80%;
  margin-top: 5px;
  font-family: "Lato", sans-serif;
  color: black;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: rgba(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);

  transition: all 0.3s;
}
button:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(155, 155, 155, 0.5);
  transform: scale(1.2, 1.2);
}
button:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

/* .fade-in {
  animation: fadeIn 1s;
} */

@media only screen and (max-width: 550px) {
  body {
    background-color: lightblue;
  }
  .display-box {
    width: 60%;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    gap: 10px;
    grid-auto-rows: auto;
    overflow-y: scroll;
  }
  .item {
    height: auto;
    width: auto;
    margin: 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(95, 95, 95, 0.7);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}
