body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

h1 {
  color: navy;
}

.owner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 10px red;
}
