<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <sript src="../js/index.js"></sript>
    <title>Owners</title>
  </head>
  <body>
    <div class="owner-container">
      <h1>Owners</h1>
      ${owners.map(ownerInfo => `
      <h2>${ownerInfo.firstName} ${ownerInfo.lastName}</h2>
      <h4>${ownerInfo.email}</h4>
      <h4>${ownerInfo.phone}</h4>
      `).join('')}
    </div>
  </body>
</html>
